<div class=container>
  <h1>Projects</h1>

   <div id="projectOne">
        <br>
        <%= image_tag "undraw_dev_female.svg", alt:"", width:400 %>
        <%= link_to "Home", root_path, class: "nav-link" %>
  </div>
        <br>
        <br>
    <div id="projectTwo">
        <br>
        <%= image_tag "undraw_dev_female.svg", alt:"", width:400 %>
        <%= link_to "Home", root_path, class: "nav-link" %>
    </div>
        <br>
        <br>
    <div id="projectThree">
        <br>
        <%= image_tag "undraw_dev_female.svg", alt:"", width:400 %>
        <%= link_to "Home", root_path, class: "nav-link" %>
    </div>
        <br>
        <br>
    <div id="projectFour">
        <br>
        <%= image_tag "undraw_dev_female.svg", alt:"", width:400 %>
        <%= link_to "Home", root_path, class: "nav-link" %>
    </div>
</div>
